# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Env
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Static
static/store/images/*.png
static/store/images/*.jpg
static/store/images/*.webp
!static/store/images/hero_sneakers.png
!static/store/images/product_watch.png
!static/store/images/product_bag.png
!static/store/images/product_headphones.png
!static/store/images/product_sunglasses.png
!static/store/images/product_jacket.png
!static/store/images/banner_sale.png

# Other
.DS_Store
*.tmp
