# Django
/index.html
/index.css
/index.js
/images/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Env
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Other
.DS_Store
*.tmp
